<!-- -->


<launch>
	<param name ="/use_sim_time" value="true"/>

    	<!--group name="carina_carla_challenge"-->
	<arg name="leaderboard" default="$(env CARLA_VERSION)" />
	<arg name="track" default="$(env CHALLENGE_TRACK_CODENAME)" />
	<arg name="config_file_params" default="$(env TEAM_CONFIG)" />
	<arg name="gpu_device_stack" default="$(env GPU_DEVICE_STACK)" />
		
	<param name="leaderboard_param" value="$(arg leaderboard)" />
	<param name="track_param" value="$(arg track)" />
	<param name="gpu_device_stack_param" value="$(arg gpu_device_stack)" />
	
	<rosparam command="load" file = "$(arg config_file_params)" />
	
	
	
	<group if="$(eval leaderboard == 'Leaderboard_20_14')">
        	<include file="$(find status_publisher)/launch/null_status_publisher.launch"/>    
	        <include file="$(find carina_bridge)/launch/carina_bridge.launch"/>     
        	<!--include file="$(find emergency_monitor)/launch/null_emergency_monitor.launch"/-->
  	</group>
  	
  	
	<group if="$(eval leaderboard == 'Leaderboard_20')">
        	<include file="$(find status_publisher)/launch/null_status_publisher.launch"/>    
	        <include file="$(find carina_bridge)/launch/carina_bridge.launch"/>     
        	<!--include file="$(find emergency_monitor)/launch/null_emergency_monitor.launch"/-->
  	</group>
  	
  	


        <!-- carina master -->
        <include file="$(find carina_description)/launch/null_carina2.launch"/>
        
        
        
        
        <!-- perception stack -->
        <include file="$(find collision_detection)/launch/null_collision_detection.launch"/>
        <include file="$(find polar_height_map)/launch/null_polar_height_map.launch"/>        <!--   velodyne   -->  
        <include file="$(find obstacle_filter_path)/launch/null_filter_obstacle_detection_path.launch"/>





        <!-- navigation stack -->
        <include file="$(find decision_making)/launch/null_fsm_decision_making.launch"/>
        <include file="$(find mpc_traj_generator)/launch/null_mpc_control.launch"/>
        <include file="$(find control)/launch/null_longitudinal_control.launch"/> 
        <include file="$(find fault_detection)/launch/null_localization_monitor.launch"/>




	
	<group if="$(eval track == 'SENSORS')">
		<include file="$(find elas_lrm)/launch/null_elas_carla.launch"/>
		<include file="$(find traffic_signs)/launch/null_detector.launch"/>
        	<include file="$(find lidar_birds_eye_view)/launch/null_bev_lidar.launch"/>
        	<include file="$(find cnn_planner)/launch/null_cnn_planner.launch"/>
        	<!--include file="$(find fpn_planner)/launch/null_fpn_planner.launch"/-->
        	<include file="$(find lrm_localization_stack)/launch/null_launch_sample_stack_timed_10.launch"/>         <!--    localization stack    -->
        	<include file="$(find carina_2d_detection)/launch/null_2d_detection.launch"/>
        	<include file="$(find carina_3d_detection)/launch/null_3d_detection.launch"/>
        	<include file="$(find lrm_lidar_object_tracking)/launch/null_mot_tracker.launch"/>
        	<!--include file="$(find lrm_lidar_object_tracking)/launch/null_mot_tracker_stereo.launch"/-->
		<include file="$(find yolov5)/launch/null_yolov5.launch"/>     
  	</group>
	<group if="$(eval track == 'MAP')">
		<include file="$(find elas_lrm)/launch/null_elas_carla.launch"/>
		<include file="$(find traffic_signs)/launch/null_detector.launch"/>
        	<include file="$(find local_path_planning)/launch/null_path_planning.launch"/> 
        	<include file="$(find global_path_planning)/launch/null_path_planning.launch"/>
        	<include file="$(find lrm_localization_stack)/launch/null_launch_sample_stack_timed_10.launch"/>         <!--    localization stack    -->
        	<include file="$(find carina_2d_detection)/launch/null_2d_detection.launch"/>
        	<include file="$(find carina_3d_detection)/launch/null_3d_detection.launch"/>
        	<include file="$(find lrm_lidar_object_tracking)/launch/null_mot_tracker.launch"/>
        	<!--include file="$(find lrm_lidar_object_tracking)/launch/null_mot_tracker_stereo.launch"/-->
		<include file="$(find yolov5)/launch/null_yolov5.launch"/>     
  	</group>
	<group if="$(eval track == 'DATASET')"> <!--use leaderboard dataset modified folder"/-->
		<include file="$(find elas_lrm)/launch/null_elas_carla.launch"/>
        	<include file="$(find lidar_birds_eye_view)/launch/null_bev_lidar.launch"/>
        	<include file="$(find local_path_planning)/launch/null_path_planning.launch"/> 
        	<include file="$(find lrm_lidar_object_tracking)/launch/null_mot_tracker_dataset.launch"/>
        	<include file="$(find carina_2d_detection)/launch/null_2d_detection.launch"/>
        	<include file="$(find create_dataset_imitation_learning)/launch/create_dataset_il.launch"/>
        	<!--include file="$(find create_dataset_imitation_learning)/launch/create_dataset_tracking.launch"/-->
        	<!--include file="$(find create_dataset_imitation_learning)/launch/create_dataset_tracking_dict_v2.launch"/-->

  	</group>
   


        
        
        
        
        


        



        <!--    deprecated    -->
        <!--include file="$(find cnn_planner)/launch/cnn_planner_timed.launch"/-->
        <!--include file="$(find cnn_planner)/launch/null_cnn_planner_timed.launch"/-->
        <!-- <include file="$(find camera_signs_detection)/launch/null_signs_detection.launch"/>-->
        <!--include file="$(find dbscan_pointcloud)/launch/null_clustering.launch"/-->
        <!--include file="$(find decision_making)/launch/null_decision_making.launch"/-->
        <!--include file="$(find local_path_planning)/launch/path_planning_create_dataset.launch"/-->
        <!--include file="$(find scenario_det)/launch/scenario_det.launch"/--> 
        	<!--include file="$(find global_plan_monitor)/launch/null_global_plan_monitor.launch"/-->
		<!--include file="$(find tfsignals_stereo2_3d)/launch/null_stereo2odom.launch"/-->
		<!--include file="$(find yolov5)/launch/null_yolov5.launch"/-->     
    <!--/group-->    
</launch>
